#game-container {
  width: 400px;
  height: 400px;
  background-color: #eee;
  position: relative;
  margin-bottom: 10px;
}

#object {
  width: 50px;
  height: 50px;
  background-color: orange;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

button {
  margin-top: 10px;
}

h1, p, button {
  text-align: center;
}

#scoreboard {
  margin-top: 20px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

#scoreboard th {
  background-color: #ddd;
  padding: 5px;
}

#scoreboard td {
  padding: 5px;
}
